@using Newtonsoft.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NewProduct
@{
}
  <form id="registerForm" asp-action="AddProduct" method="post" enctype="multipart/form-data">
      <!--h2>Create a new account.</h2-->
      <hr />
      
      <div class="row">
          <hr>
          <h4>Choose Department</h4>  
          <select class="form-select" name="SelectedDepartmentId" aria-label="Default select example">
              @foreach (var category in Model.productCategories)
              {
                  <option value="@category.Id">@category.ProductCategoryName</option>
              }
          </select>
      </div>
      
      <div class="row">
          <hr>
      
          <h4>Choose Category</h4>  
          <select class="form-select" name="SelectedCategoryId" aria-label="Default select example">
              @foreach (var type in Model.productTypes)
              {
                  <option value="@type.Id">@type.ProductTypeName</option>
              }
          </select>
      </div>
      
      <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
              
  <div class="form-floating mb-3">
      <input asp-for="Name" class="form-control" aria-required="true" placeholder="+13456789" />
      <label asp-for="Name">Product Name</label>
  </div>
  <div class="form-floating mb-3">
      <input asp-for="Description" class="form-control" aria-required="true" placeholder="name@example.com" />
      <label asp-for="Description">Product Description</label>
  </div>
  <div class="form-floating mb-3">
      <input asp-for="ImageName" class="form-control" aria-required="true" placeholder="John" />
      <label asp-for="ImageName">Image Name</label>
  </div>
              
  <div class="form-floating mb-3">
      <input asp-for="Alt" class="form-control" aria-required="true" placeholder="Doe" />
      <label asp-for="Alt">Alternative Text</label>
  </div>
              
      <div class="form-floating mb-3">
          <input asp-for="FullPrice" class="form-control" aria-required="true" placeholder="+13456789" />
          <label asp-for="FullPrice">Price</label>
      </div>
      
      <div class="form-floating mb-3">
            <input name="ImageFile" asp-for="ImageFile" class="form-control" />
      </div>

      <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Product</button>
</form>

