<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core Strength Yoga Products</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--link rel="stylesheet" href="~/core_strength_yoga_products.styles.css" asp-append-version="true" /-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <!-- Css Styles -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
        <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    <header>
        <div class="header-top">
              <div class="container">
                  <div class="ht-left">
                      <div class="mail-service">
                          <i class=" fa fa-envelope"></i>
                          corestrengthyoga@gmail.com
                      </div>
                      <div class="phone-service">
                          <i class=" fa fa-phone"></i>
                          +353 12345678
                      </div>
                  </div>
                  <div class="ht-right">
                      <partial name="_LoginPartial"/>
                  </div>
              </div>
          </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Core Strength Yoga Products - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery.dd.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
