@{
    ViewData["Title"] = "Shop";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<core_strength_yoga_products.Models.ProductCategory>

<span>This is the Shop</span>




<div class="banner-section spad">

    <div class="container-fluid">
        <div class="row">
            @foreach (var productCategory in Model)
            {
                <div class="col-lg-6">
                    <div class="single-banner">
                        <a asp-area="" asp-controller="Shop" asp-action="ProductTypes"
                           asp-route-productcategoryid=@productCategory.Id>
                            <img src=@productCategory.Image.Path alt=@productCategory.Image.Alt asp-append-version="true" />
                        <div class="inner-text">
                                <h4>@productCategory.ProductCategoryName</h4>
                        </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



