@model Home;

@{
    ViewData["Title"] = "Home Page";
    bool hasDepartments = (Model != null && Model.productCategories != null && !Model.productCategories.Any());
    bool hasCategories = (Model != null && Model.productTypes != null && !Model.productTypes.Any());
    

}

<section class="hero-section">
  <div class="hero-items owl-carousel">
      <div class="single-hero-items set-bg" data-setbg="../images/YogaBanner.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                      <br>  
                      <h1>Sale now on</h1>
                      <p>Massive sale across all our product ranges</p>
                      <a asp-controller="Shop" class="primary-btn">Shop Now</a>
                  </div>
              </div>
              <div class="off-card">
                  <h2>Sale <span>50%</span></h2>
              </div>
          </div>
      </div>
      <div class="single-hero-items set-bg" data-setbg="../images/YogaBanner2.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                    <br>
                      <h1>Celebrate with us</h1>
                      <p>21st June 2023</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="banner-section spad">
  <div class="container-fluid">
      <div class="row">
          <h3>Browse By Department</h3>
          <hr>
          
              @foreach (var category in Model.productCategories)
              {
                  <div class="col-lg-6">
                      <div class="single-banner">
                          <a asp-area="" asp-controller="Shop" asp-action="ProductTypes"
                             asp-route-productcategoryid=@category.Id>
                              <img src=@category.Image.Path alt=@category.Image.Alt asp-append-version="true" />
                          <div class="inner-text">
                                  <h4>@category.ProductCategoryName</h4>
                          </div>
                          </a>
                      </div>
                  </div>
              }
      </div>
  </div>
  <br>
  <br>
  <div class="container-fluid">
      <div class="row">
          <h3>Browse By Category</h3>
          <hr>
          
              @foreach (var type in Model.productTypes)
              {
                  <div class="col-lg-6">
                      <div class="single-banner m-5">
                          <a asp-area="" asp-controller="Shop" asp-action="Gallery"
                             asp-route-productTypeId=@type.Id>
                              <img src=@type.Image.Path alt=@type.Image.Alt asp-append-version="true" class="preview-img" />
                              <div class="inner-text">
                                  <h4>@type.ProductTypeName</h4>
                              </div>
                          </a>
                      </div>
                  </div>
              }
      </div>
  </div>
</div>
<div class="instagram-photo">
  <div class="insta-item set-bg" data-setbg="../images/insta-1.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="../images/insta-2.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="../images/insta-3.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="../images/insta-1.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="../images/insta-2.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="../images/insta-3.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a asp-controller="Home">Yoga_Collection</a></h5>
      </div>
  </div>
</div>
<section class="latest-blog spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>From The Blog</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="~/images/latest-1.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a asp-controller="Home">
                          <h4>Be the most stylish person in class</h4>
                      </a>
                      <p>Be the envious student with all the latest fashion items</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="~/images/latest-2.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a asp-controller="Home">
                          <h4>Comfortable Clothes improves your Pose</h4>
                      </a>
                      <p>Browse the latest clothes to ensure that your poses meet expectations</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="~/images/latest-3.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a asp-controller="Home">
                          <h4>How to enhance your work concentration through Yoga</h4>
                      </a>
                      <p>In this edition of the blog we discuss how yoga improves your concentration within the work environment</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="benefit-items">
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="~/images/icon-1.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Free Shipping</h6>
                          <p>For all order over 99<pre wp-pre-tag-1=""></pre>lt;/p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="~/images/icon-2.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Delivery On Time</h6>
                          <p>If good have prolems</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="~/images/icon-1.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Secure Payment</h6>
                          <p>100% secure payment</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="partner-logo">
  <div class="container">
      <div class="logo-carousel owl-carousel">
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="~/images/logo-1.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="~/images/logo-2.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="~/images/logo-3.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="~/images/logo-4.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="~/images/logo-5.png" alt="" />
              </div>
          </div>
      </div>
  </div>
</div>